@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Lora, serif;
  --radius: 1.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-landing-background: var(--color-landing-background);
  --color-landing-background-100: var(--color-landing-background-100);
  --color-landing-background-200: var(--color-landing-background-200);
  --color-landing-background-300: var(--color-landing-background-300);
  --color-landing-foreground: var(--color-landing-foreground);
  --color-landing-muted: var(--color-landing-muted);
  --color-landing-primary: var(--color-landing-primary);
  --color-landing-border: var(--color-landing-border);
  --color-landing-border-100: var(--color-landing-border-100);
  --color-landing-border-200: var(--color-landing-border-200);

  --color-tertiary: var(--color-tertiary);

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;

  --font-figtree: var(--font-figtree);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-manrope: var(--font-manrope);

  --color-text-secondary: #414651;



  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px))
        rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }


  /** primary color*/
  --color-primary-0: var(--primary-0);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-0: var(--secodary--0);
  --color-secondary-100: var(--secodary--100);
  --color-secondary-200: var(--secodary--200);
  --color-secondary-300: var(--secodary--300);
  --color-secondary-400: var(--secodary--400);
  --color-secondary-500: var(--secodary--500);
  --color-secondary-600: var(--secodary--600);
  --color-secondary-700: var(--secodary--700);
  --color-secondary-800: var(--secodary--800);
  --color-secondary-900: var(--secodary--900);
  --color-secondary-1000: var(--secodary--1000);

  /* success */
  --color-success-0: var(--succes--0);
  --color-success-100: var(--succes--100);
  --color-success-200: var(--succes--200);
  --color-success-300: var(--succes--300);
  --color-success-400: var(--succes--400);
  --color-success-500: var(--succes--500);
  --color-success-600: var(--succes--600);
  --color-success-700: var(--succes--700);
  --color-success-800: var(--succes--800);
  --color-success-900: var(--succes--900);
  --color-success-1000: var(--succes--1000);

  /* info */
  --color-info-0: var(--info--0);
  --color-info-100: var(--info--100);
  --color-info-200: var(--info--200);
  --color-info-300: var(--info--300);
  --color-info-400: var(--info--400);
  --color-info-500: var(--info--500);
  --color-info-600: var(--info--600);
  --color-info-700: var(--info--700);
  --color-info-800: var(--info--800);
  --color-info-900: var(--info--900);
  --color-info-1000: var(--info--1000);

  /* warning */
  --color-warning-0: var(--warning--0);
  --color-warning-100: var(--warning--100);
  --color-warning-200: var(--warning--200);
  --color-warning-300: var(--warning--300);
  --color-warning-400: var(--warning--400);
  --color-warning-500: var(--warning--500);
  --color-warning-600: var(--warning--600);
  --color-warning-700: var(--warning--700);
  --color-warning-800: var(--warning--800);
  --color-warning-900: var(--warning--900);
  --color-warning-1000: var(--warning--1000);

  /* danger */
  --color-danger-0: var(--danger--0);
  --color-danger-100: var(--danger--100);
  --color-danger-200: var(--danger--200);
  --color-danger-300: var(--danger--300);
  --color-danger-400: var(--danger--400);
  --color-danger-500: var(--danger--500);
  --color-danger-600: var(--danger--600);
  --color-danger-700: var(--danger--700);
  --color-danger-800: var(--danger--800);
  --color-danger-900: var(--danger--900);
  --color-danger-1000: var(--danger--1000);
}

:root {
  --radius: 1.25rem;
  --background: oklch(0.9232 0.0026 48.7171);
  --foreground: oklch(0.2795 0.0368 260.0310);
  --card: oklch(0.9699 0.0013 106.4238);
  --card-foreground: oklch(0.2795 0.0368 260.0310);
  --popover: oklch(0.9699 0.0013 106.4238);
  --popover-foreground: oklch(0.2795 0.0368 260.0310);
  --primary: var(--primary-600);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8687 0.0043 56.3660);
  --secondary-foreground: oklch(0.4461 0.0263 256.8018);
  --muted: oklch(0.9232 0.0026 48.7171);
  --muted-foreground: #A3A3A3;
  --accent: oklch(0.9376 0.0260 321.9388);
  --accent-foreground: oklch(0.3729 0.0306 259.7328);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.8687 0.0043 56.3660);
  --input: oklch(0.8687 0.0043 56.3660);
  --ring: oklch(0.5854 0.2041 277.1173);
  --chart-1: oklch(0.5854 0.2041 277.1173);
  --chart-2: oklch(0.5106 0.2301 276.9656);
  --chart-3: oklch(0.4568 0.2146 277.0229);
  --chart-4: oklch(0.3984 0.1773 277.3662);
  --chart-5: oklch(0.3588 0.1354 278.6973);
  --sidebar: oklch(0.8687 0.0043 56.3660);
  --sidebar-foreground: oklch(0.2795 0.0368 260.0310);
  --sidebar-primary: oklch(0.5854 0.2041 277.1173);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9376 0.0260 321.9388);
  --sidebar-accent-foreground: oklch(0.3729 0.0306 259.7328);
  --sidebar-border: oklch(0.8687 0.0043 56.3660);
  --sidebar-ring: oklch(0.5854 0.2041 277.1173);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --shadow-color: hsl(240 4% 60%);
  --shadow-opacity: 0.18;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
  --tracking-normal: 0em;
}

.dark {
  --background: white;
  --foreground: #181D27;
  --card: oklch(0.2801 0.0080 59.3379);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: white;
  --popover-foreground: var(--foreground);
  --primary: #DC2626;
  --primary-foreground: white;
  --secondary: oklch(0.3359 0.0077 59.4197);
  --secondary-foreground: oklch(0.8717 0.0093 258.3382);
  --muted: oklch(0.2287 0.0074 67.4469);
  --muted-foreground: #A3A3A3;
  --accent: oklch(0.3896 0.0074 59.4734);
  --accent-foreground: oklch(0.8717 0.0093 258.3382);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: #D5D7DA;
  --input: white;
  --ring: var(--info--200);
  --chart-1: oklch(0.6801 0.1583 276.9349);
  --chart-2: oklch(0.5854 0.2041 277.1173);
  --chart-3: oklch(0.5106 0.2301 276.9656);
  --chart-4: oklch(0.4568 0.2146 277.0229);
  --chart-5: oklch(0.3984 0.1773 277.3662);
  --sidebar: white;
  --sidebar-foreground: #6B7280;
  --sidebar-primary:#DC2626;
  --sidebar-primary-foreground: oklch(0.2244 0.0074 67.4370);
  --sidebar-accent: var(--primary-700);
  --sidebar-accent-foreground: white;
  --sidebar-border: oklch(0.3359 0.0077 59.4197);
  --sidebar-ring: oklch(0.6801 0.1583 276.9349);
  --destructive-foreground: oklch(0.2244 0.0074 67.4370);
  --radius: 8px;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.18;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);

  --color-tertiary: #2557A2;


  /* Extended palette variables */
  --primary--0: #FFF5F5;
  --primary--100: #FDCACE;
  --primary--200: #FAA0A6;
  --primary--300: #F57B83;
  --primary--400: #ED5C66;
  --primary--500: #E4444E;
  --primary--600: #D7313C;
  --primary--700: #C7232E;
  --primary--800: #B31923;
  --primary--900: #9E121B;
  --primary--1000: #870E16;

  --secodary--0: #FFF9F5;
  --secodary--100: #FDDDCA;
  --secodary--200: #FAC1A0;
  --secodary--300: #F5A87B;
  --secodary--400: #ED915C;
  --secodary--500: #E47E44;
  --secodary--600: #D76E31;
  --secodary--700: #C75F23;
  --secodary--800: #B35119;
  --secodary--900: #9E4512;
  --secodary--1000: #873A0E;

  --succes--0: #F5FFFC;
  --succes--100: #CAFDEC;
  --succes--200: #A0FADC;
  --succes--300: #7BF5CC;
  --succes--400: #5CEDBD;
  --succes--500: #44E4AE;
  --succes--600: #31D79F;
  --succes--700: #23C790;
  --succes--800: #19B380;
  --succes--900: #129E6F;
  --succes--1000: #0E875F;

  --info--0: #F5F9FF;
  --info--100: #CADEFD;
  --info--200: #A0C3FA;
  --info--300: #7BAAF5;
  --info--400: #5C94ED;
  --info--500: #4481E4;
  --info--600: #3170D7;
  --info--700: #2362C7;
  --info--800: #1954B3;
  --info--900: #12479E;
  --info--1000: #0E3C87;

  --warning--0: #FFFBF5;
  --warning--100: #FDEACA;
  --warning--200: #FAD9A0;
  --warning--300: #F5C87B;
  --warning--400: #EDB85C;
  --warning--500: #E4A944;
  --warning--600: #D79A31;
  --warning--700: #C78B23;
  --warning--800: #B37B19;
  --warning--900: #9E6A12;
  --warning--1000: #875B0E;

  --danger--0: #FFF5F5;
  --danger--100: #FDCACA;
  --danger--200: #FAA0A0;
  --danger--300: #F57B7B;
  --danger--400: #ED5C5C;
  --danger--500: #E44444;
  --danger--600: #D73131;
  --danger--700: #C72323;
  --danger--800: #B31919;
  --danger--900: #9E1212;
  --danger--1000: #870E0E;


  --primary-0: #fff5f5;
  --primary-100: #fdcace;
  --primary-200: #faa0a6;
  --primary-300: #f57b83;
  --primary-400: #ed5c66;
  --primary-500: #e4444e;
  --primary-600: #d7313c;
  --primary-700: #c7232e;
  --primary-800: #b31923;
  --primary-900: #9e121b;
  --primary-1000: #870e16;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

/* Hide scrollbars utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

